@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&family=Satisfy&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    color: rgb(0, 0, 0);
    /* background-color: rgb(19, 19, 19); */
}

.section {
    padding: 2rem 0 4rem;
    height: 600px;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

ul {
    list-style: none;
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}



img {
    max-width: 100%;
    height: auto;
}

.subtitle {
    font-size: 24px;
    font-weight: 600;
    color: rgb(100, 92, 92);
}

.btn {
    display: inline-block;
    background-color: #A1FFFF;
    color: black;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 600;
    border: 0;
    font-size: 12px;
}

/*========= layout =========*/
main {
    margin-top: 6rem;
}

.container {
    max-width: 85%;
    margin: auto;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
    transition: 0.6s;
}

.nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav h2 {
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 3px;
}

.nav-item a {
    font-size: 18px;
    font-weight: 500;
}

.nav-menu {
    width: 500px;
    margin-left: 15rem;
}

.nav-list {
    display: flex;
    justify-content: space-around;
}

.nav-social a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-social-bg {
    height: 40px;
    width: 40px;
    margin-left: 0.75rem;
    background-color: aqua;
    border-radius: 50%;

}

.nav-icon {
    font-size: 1.25rem;
}


.nav-active {
    background-color: #CCE1E8;
    transition: 0.8s;
}

/*--==================== CONTACT ME ==================== */
.main .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
 
}

.main-img{
    background-image: url("../images/Fikri-profile.png");
    background-repeat: no-repeat;
    background-position: 20% 40%;
    background-size: 600px 600px;
    background-size: 20%;
    background-attachment: fixed;
    border-radius: 200px;
}

.main-content {
    margin-left: 5rem;
}

.main-title {
    font-size: 48px;
    font-stretch: 120%;
}

.main-btn {
    width: 120px;
    margin-top: 1.25rem;
}

.main-btn:hover {
    box-shadow: 1px 0px 32px -10px rgba(0, 0, 0, 0.61);
    cursor: pointer;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); */
    transition: all 0.3s ease-in-out;
    transform: scale(1.1, 1.1);
}

.main-btn::after {
    z-index: -1;
    content: '';
    position: absolute;
    box-shadow: 1px 0px 32px -10px rgba(0, 0, 0, 0.61);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.main-btn:hover::after {
    opacity: 1;
}

/*--==================== ABOUT ME ==================== */
.about .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A1FFFF;
    width: 80%;
    border-radius: 40px;
    background-size: contain;
    position: relative;
    left: 40px;
}
.about-img img{
    width: 400px;
    height: auto;
}

.about-content{
    margin-left: 5rem;
}

.about-title{
    font-size: 36px;
}

.about-btn {
    width: 120px;
    margin-top: 1.25rem;
}

.about-btn:hover {
    box-shadow: 1px 0px 32px -10px rgba(0, 0, 0, 0.61);
    cursor: pointer;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); */
    transition: all 0.3s ease-in-out;
    transform: scale(1.1, 1.1);
}

/*--==================== CONTACT ME ==================== */
.contact-container{
    width: 900px;
}
.contact_information {
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact_icon {
    font-size: 2rem;
    /* color: var(--first-color); */
    margin-right: 0.75rem;
}

.contact_title {
    font-size: 20px;
    font-weight: 400;
}

.contact_subtitle {
    font-size: 12px;
    color: rgb(158, 156, 156);
}

.contact_content {
    background-color: rgb(236, 255, 255);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact_label {
    font-size: 16px;
    color: black;
}

.contact_input {
    width: 100%;
    background-color: rgb(236, 255, 255);
    color: rgb(112, 112, 112);
    font-size: 14px;
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem .0;
}
.section_title,
.section_subtitle{
    text-align: center;
}

.contact-grid{
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    gap: 3rem;
    padding-top: 2.25rem;
}

.contact_information{
    display: flex;
    margin-bottom: 30px;
}

.contact_information div{
    margin-top: -10px;
}

.contact_inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.contact_content textarea{
    resize: none;
}